*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:linear-gradient(180deg,#dff4ff,#eef9ff);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.fondo{
position:fixed;
inset:0;
background-image:
radial-gradient(white 2px,transparent 2px),
radial-gradient(#ffffffaa 1px,transparent 1px);
background-size:120px 120px,60px 60px;
opacity:.5;
animation:mover 20s linear infinite;
}

@keyframes mover{
from{transform:translateY(0);}
to{transform:translateY(-120px);}
}

.contenedor{
position:relative;
z-index:2;
width:90%;
max-width:430px;
}

.card{
background:white;
padding:35px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.12);
text-align:center;
}

h1{
color:#4a86c5;
font-size:30px;
margin-bottom:15px;
}

.mensaje{
color:#666;
line-height:1.6;
margin-bottom:25px;
}

input{
width:100%;
padding:15px;
border:none;
background:#eef7ff;
border-radius:15px;
font-size:16px;
margin-bottom:20px;
outline:none;
}

button{
width:100%;
padding:15px;
border:none;
border-radius:15px;
background:#67b6ff;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.03);
background:#4aa7ff;
}

.oculto{
display:none;
}

.caja{
font-size:90px;
animation:latido 1s infinite;
text-align:center;
margin-top:40px;
}

@keyframes latido{

0%{
transform:scale(1);
}

50%{
transform:scale(1.12);
}

100%{
transform:scale(1);
}

}

#resultado{
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.12);
text-align:center;
margin-top:20px;
}

#regalo{
margin-top:20px;
background:#dff3ff;
padding:18px;
border-radius:18px;
font-size:22px;
font-weight:bold;
color:#4a86c5;
}

.gracias{
margin-top:25px;
color:#666;
line-height:1.5;
  }
